---
import ProjectsAstro from "../components/Projects.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Moisés Jimenez Portfolio - Projects" description="Hire Moises Jimenez to create your web application. Full-Stack developer specialized in creating creative applications and solutions.">
    <h1 class="text-4xl font-bold mb-10 flex gap-x-2 items-center justify-center">All the projects I've worked on</h1>
    <div>
        <ProjectsAstro count={Infinity}/>
    </div>
</Layout>
