<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto">
    <img class="rounded-full size-12" src="https://pbs.twimg.com/profile_images/1786723102933569536/dcTx3f6M_400x400.jpg" alt="Moisés Jimenez">

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Home</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
        <a href="https://wa.me/584121536865" target="_blank">Contact</a>

    </nav>
</header>