<header class="flex justify-between items-center py-5 w-full xl:w-[1280px] mx-auto">
    <img class="rounded-full size-12" src="https://pbs.twimg.com/profile_images/1786723102933569536/dcTx3f6M_400x400.jpg" alt="Moisés Jimenez">

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/#projects">Projects</a>
        <a href="/#about">About</a>
        <a href="/#technologies">Technologies</a>
        <a href="/#contact" target="_blank">Contact</a>

    </nav>
</header>