---
import LinkedIn from "../icons/LinkedIn.astro";
---

<a class="rounded-full border border-black flex justify-center items-center  text-xs lg:text-base gap-x-1 py-1 px-2 lg:py-2 lg:px-1 hover:scale-110 transition mx-2" {...Astro.props} target="_blank">
    <slot/>
</a>