---
import ProjectsAstro from "../../components/Projects.astro";
import Layout from "../../layouts/Layout.astro";
import { useTranslations } from '../../i18n/ui';

const lang = 'es' as const;
const t = useTranslations(lang);
---

<Layout title={t('meta.projectsTitle')} description={t('meta.description')} lang={lang}>
    <h1 class="text-4xl font-bold mb-10 flex gap-x-2 items-center justify-center">{t('projects.allTitle')}</h1>
    <div>
        <ProjectsAstro count={Infinity} lang={lang} />
    </div>
</Layout>
