---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '@fontsource-variable/onest'

interface Props {
	title: string;
	description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://pbs.twimg.com/profile_images/1786723102933569536/dcTx3f6M_400x400.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
	</head>
	</head>
	<body class="sm:mb-96">
		<Header/>
		<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
		<slot/>
		<Footer/>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light;
	}

	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body{
		background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
		-webkit-animation: bg-scrolling-reverse 0.92s infinite;
		-moz-animation: bg-scrolling-reverse 0.92s infinite;
		-o-animation: bg-scrolling-reverse 0.92s infinite;
		animation: bg-scrolling-reverse 0.92s infinite;
		-webkit-animation-timing-function: linear;
		-moz-animation-timing-function: linear;
		-o-animation-timing-function: linear;
		animation-timing-function: linear;
		display: flex;
		flex-direction: column;
		background-color: antiquewhite;
		height: 100vh;
	}

	@media (prefers-reduced-motion: reduce){
		html{
			scroll-behavior: auto;
		}
	}
	@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
	}
	}
	@-moz-keyframes bg-scrolling-reverse {
	100% {
		background-position: 50px 50px;
	}
	}
	@-o-keyframes bg-scrolling-reverse {
	100% {
		background-position: 50px 50px;
	}
	}
	@keyframes bg-scrolling-reverse {
	100% {
		background-position: 50px 50px;
	}
	}
	@-webkit-keyframes bg-scrolling {
	0% {
		background-position: 50px 50px;
	}
	}
	@-moz-keyframes bg-scrolling {
	0% {
		background-position: 50px 50px;
	}
	}
	@-o-keyframes bg-scrolling {
	0% {
		background-position: 50px 50px;
	}
	}
	@keyframes bg-scrolling {
	0% {
		background-position: 50px 50px;
	}
	}

</style>
